<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Запчасти-НН</title>
    <style type="text/css">
    .button1 {
        display: inline-block;
        text-decoration: none;
        text-align: center;
        background-color: #111;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

    .button1:hover {
        background-color: #1abc9c;
    }

    .table_price {
        border-collapse: collapse;
        border-left: 3px solid #1abc9c;
        border-right: 3px solid #1abc9c;
        border-bottom: 3px solid #1abc9c;
        font-family: "Lucida Grande", sans-serif;
        width: 40%;
    }

    .table_price caption {
        background: #1abc9c;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 10px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
        color: white;
        font-family: "Roboto Slab", serif;
        font-style: normal;
        font-size: 26px;
        text-align: center;
        margin: 0;
    }

    .table_price td,
    .table_price th {
        padding: 10px;
    }

    .table_price th {
        text-align: left;
        font-size: 18px;
    }

    .table_price tr:nth-child(2n) {
        background: #E5E5E5;
    }

    .table_price td:last-of-type {
        text-align: center;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 30px;
        font-family: Gotham;
        color: #1abc9c;
        display: block;
        transition: 0.3s
    }

    .sidenav a:hover,
    .offcanvas a:focus {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 50px;
        margin-left: 50px;
    }

    #main {
        transition: margin-left .5s;
        padding: 20px;
    }

    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }

        .sidenav a {
            font-size: 18px;
        }
    }
    </style>
    <script type="text/javascript">
    function openNav() {
        document.getElementById("mySidenav").style.width = "300px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
    </script>
</head>

<body bgcolor="#E6E6FA">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/orders/TableOrder">Заказ</a>
        <a href="/customers/TableCus">Клиент</a>
        <a href="/staffs/TableStaff">Сотрудники</a>
        <a href="/archives/TableArchive">Архив</a>
        <a href="/logout">Выйти</a>
    </div>
    <span onclick="openNav()"><img src="https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png" width="40px" style="padding-top: 40px; padding-left: 40px;"></span>
    <div id="main">
        <div>
            <table class="table_price" align="center">
                <caption>Сотрудник</caption>
                <tr th:each="staffs : ${staffs}">
                    <th>ФИО</th>
                    <td th:text="${staffs.fullname}"></td>
                </tr>
                <tr th:each="staffs : ${staffs}">
                    <th>Должность</th>
                    <td th:text="${staffs.positions}"></td>
                </tr>
                <tr th:each="staffs : ${staffs}">
                    <th>Телефон</th>
                    <td th:text="${staffs.phone}"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <a href="/staffs/TableStaff">
                            <input class="button1" readonly="readonly" value="Закрыть" align="center" />
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>