<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Запчасти-НН</title>
    <style type="text/css">
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 30px;
        font-family: Gotham;
        color: #1abc9c;
        display: block;
        transition: 0.3s
    }

    .sidenav a:hover,
    .offcanvas a:focus {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 50px;
        margin-left: 50px;
    }

    #main {
        transition: margin-left .5s;
        padding: 20px;
    }

    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }

        .sidenav a {
            font-size: 18px;
        }
    }


    input[type=button] {
        background-color: #111;
        color: white;
        padding: 6px 8px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

    input[type=button]:hover {
        background-color: #1abc9c;
    }


    #table-class td,
    #table-class th {
        border: 1px solid #111;
        padding: 5px;
    }

    #table-class tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #table-class tr:hover {
        background-color: #ddd;
    }

    #table-class th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #1abc9c;
        color: #111;
    }

    input[type=submit] {
        display: inline-block;
        background-color: #111;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 3px;
        margin: 20px;
        text-decoration: none;
        font-size: 14pt;
        cursor: pointer;
        z-index: 1;
    }

    input[type=submit]:hover {
        background-color: #1abc9c;
    }
    </style>
    <script type="text/javascript">
    function openNav() {
        document.getElementById("mySidenav").style.width = "300px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
    </script>
</head>

<body bgcolor="#E6E6FA">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/orders/TableOrder">Заказ</a>
        <a href="/customers/TableCus">Клиент</a>
        <a href="/staffs/TableStaff">Сотрудники</a>
        <a href="/archives/TableArchive">Архив</a>
        <a href="/logout">Выйти</a>
    </div>
    <span onclick="openNav()"><img src="https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png" width="40px" style="padding-top: 40px; padding-left: 40px;"></span>
    <div id="main">
        <div th:if="${not #lists.isEmpty(staffs)}" align="center">
            <table id="table-class">
                <tr>
                    <th>Id</th>
                    <th>ФИО</th>
                    <th>Должность</th>
                    <th>Телефон</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr th:each="staffs : ${staffs}">
                    <td th:text="${staffs.id}"></td>
                    <td th:text="${staffs.fullname}"></td>
                    <td th:text="${staffs.positions}"></td>
                    <td th:text="${staffs.phone}"></td>
                    <td align="center">
                        <a th:href="${'/staffs/show/' + staffs.id}">
                            <input type="button" value="Посмотреть" />
                        </a>
                    </td>
                    <td align="center">
                        <a th:href="${'/staffs/edit/' + staffs.id}">
                            <input type="button" value="Редактировать" />
                        </a>
                    </td>
                    <td align="center">
                        <a th:href="${'/staffs/delete/' + staffs.id}">
                            <input type="button" value="Удалить" />
                        </a>
                    </td>
                </tr>
            </table>
        </div>
        <div align="center">
            <a href="/staffs/new">
                <input type="submit" value="Добавить сотрудника" />
            </a>
        </div>
    </div>
</body>

</html>