<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Запчасти-НН</title>
    <style type="text/css">
    input[type=text] {
        width: 40%;
        text-align: center;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid #111;
        border-radius: 4px;
    }

    input[type=submit] {
        background-color: #111;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #1abc9c;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 60px;
        transition: 0.5s;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 30px;
        font-family: Gotham;
        color: #1abc9c;
        display: block;
        transition: 0.3s
    }

    .sidenav a:hover,
    .offcanvas a:focus {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 50px;
        margin-left: 50px;
    }

    #main {
        transition: margin-left .5s;
        padding: 20px;
    }

    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }

        .sidenav a {
            font-size: 18px;
        }
    }


    .custom-dropdown {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        margin: 10px;
    }

    .custom-dropdown select {
        background-color: #1abc9c;
        color: #fff;
        font-size: inherit;
        padding: .5em;
        padding-right: 2.5em;
        border: 0;
        margin: 0;
        border-radius: 3px;
        text-indent: 0.01px;
        text-overflow: '';
        -webkit-appearance: none;
    }

    .custom-dropdown::before,
    .custom-dropdown::after {
        content: "";
        position: absolute;
        pointer-events: none;
    }

    .custom-dropdown::after {
        content: "\25BC";
        height: 1em;
        font-size: .625em;
        line-height: 1;
        right: 1.2em;
        top: 50%;
        margin-top: -.5em;
    }

    .custom-dropdown::before {
        width: 2em;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 0 3px 3px 0;
    }

    .custom-dropdown select[disabled] {
        color: rgba(0, 0, 0, .3);
    }

    .custom-dropdown select[disabled]::after {
        color: rgba(0, 0, 0, .1);
    }

    .custom-dropdown::before {
        background-color: rgba(0, 0, 0, .15);
    }

    .custom-dropdown::after {
        color: rgba(0, 0, 0, .4);
    }
    </style>
    <script type="text/javascript">
    function openNav() {
        document.getElementById("mySidenav").style.width = "300px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
    </script>
</head>

<body bgcolor="#E6E6FA">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/orders/TableOrder">Заказ</a>
        <a href="/customers/TableCus">Клиент</a>
        <a href="/staffs/TableStaff">Сотрудники</a>
        <a href="/archives/TableArchive">Архив</a>
        <a href="/logout">Выйти</a>
    </div>
    <span onclick="openNav()"><img src="https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png" width="40px" style="padding-top: 40px; padding-left: 40px;"></span>
    <div id="main" align="center">
        <form class="form-horizontal" th:object="${customerForm}" th:action="@{/customers}" method="post">
            <input type="hidden" th:field="*{id}" />
            <div class="form-group" th:class="${#fields.hasErrors('fullname')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">ФИО:</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{fullname}" th:errorclass="has-error" placeholder="Фамилия Имя Отчество" required="required" />
                    <span class="help-block">
                        <ul>
                            <li th:each="err : ${#fields.errors('fullname')}" th:text="${err}" />
                        </ul>
                    </span>
                </div>
            </div>
            <div class="form-group" th:class="${#fields.hasErrors('adress')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Адрес:</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{adress}" th:errorclass="has-error" required placeholder="Город, Улица, Дом, Квартира" />
                    <span class="help-block">
                        <ul>
                            <li th:each="err : ${#fields.errors('adress')}" th:text="${err}" />
                        </ul>
                    </span>
                </div>
            </div>
            <div class="form-group" th:class="${#fields.hasErrors('phone')} ? 'form-group has-error' : 'form-group'">
                <label class="col-sm-2 control-label">Телефон:</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{phone}" th:errorclass="has-error" equired placeholder="+7(000)000-00-00" />
                    <span class="help-block">
                        <ul>
                            <li th:each="err : ${#fields.errors('phone')}" th:text="${err}" />
                        </ul>
                    </span>
                </div>
            </div>
            <input type="submit" name="submit" value="Изменить">
        </form>
    </div>
</body>

</html>